p.c-hero-second__description {
    font-weight: 600;
}

@media (min-width: 0) and (max-width:767px) {
    .c-table-block__wrap {
        max-width: unset;
    }
}

.mobile-card-field strong {
    display: block;
    color: #54178e;
}

.mobile-card-field {
    margin-bottom: 26px;
}

.mobile-card {
    border-bottom: 1px solid;
    margin-bottom: 30px;
}

.mobile-card:first-child {
    border-top: 1px solid;
    padding-top: 20px;
}