.l-footer,
.l-footer .l-inner {
    position: relative;
}

.l-footer__bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-blend-mode: multiply;
}

.l-footer__bg--mobile {
    @include media(mobile) {
        display: none;
    }
}

.l-footer__bg--desktop {
    display: none;

    @include media(mobile) {
        display: block;
    }
}
