.c-footer {
    padding: 2.5rem 0 1rem;

    @include media(mobile) {
        padding: 5rem 0;
    }
}

.c-footer__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c-footer__row:not(:last-child) {
    margin-bottom: 2rem;
}

.c-footer__logo {
    width: 28rem;
	min-height: 9.2rem;
    margin-bottom: 4rem;
}