.c-footer-nav-list {
    @include list-reset;

    display: flex;
    flex-wrap: wrap;
}

.c-footer-nav-list__item {
    display: flex;
    align-items: center;
}

.c-footer-nav-list__item:not(:last-child)::after {
    display: inline-block;

    width: .1rem;
    height: 1.3rem;
    margin: 0 1.1rem;

    content: '';

    background-color: color(white-1);
}

.c-footer-nav-list__link {
    position: relative;
}

.c-footer-nav-list__link::after {
    @include transition;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: .1rem;

    content: '';
    transition-property: opacity;

    opacity: 0;
    background-color: currentColor;
}

.c-footer-nav-list__link:hover::after {
    opacity: 1;
}
