.c-gate-modal {
  position: fixed;
  inset: 0;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  @include transition;
  transition-property: opacity, visibility;
}

.c-gate-modal__inner {
  position: relative;
  color: color(white-1);
  width: 100%;
}

.c-gate-modal.is-open {
  opacity: 1;
  visibility: visible;
}

.c-gate-modal__inner .l-inner {
  position: relative;
}

.c-gate-modal .c-banner__content {
  margin: 0;
  padding: 5rem 1.7rem 4rem;
  max-height: 80vh;
  overflow-y: auto;
}

.c-gate-modal .c-banner__decor-image {
    display: block;
}

.c-gate-modal .c-banner__action {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.c-gate-modal .c-select__list--single .c-select__item {
    padding: 0 5rem;
}

.c-gate-modal .c-banner {
    margin: 0;
    @include media(tablet) {
        margin: 6rem 9rem 4rem;
    }
}

.c-gate-modal .c-select__list--dropdown,
.c-gate-modal .c-select__list[aria-expanded] {
    display: none;
}

.c-gate-modal .is-active.c-select__list--dropdown,
.c-gate-modal .is-active.c-select__list[aria-expanded] {
    position: static;
    display: block;
}
