.c-hero-text {
    @include media(mobile) {
        height: 52rem;
    }
}

.c-hero-text__content {
    position: relative;
    z-index: z-index(base);

    margin-top: -3.2rem;

    @include media(mobile) {
        margin-top: 0;
        padding-top: 18rem;
    }
}

.c-hero-text__media {
    @include media(0, mobile) {
        display: block;

        height: 30vw;
        min-height: 14.7rem;
        margin: 0 -1.7rem;
    }
    @include media(mobile) {
        @include filler();
    }
}

.c-hero-text__image {
    @include image-full();
}
