.hero-second {
	position: relative;
	overflow: hidden;
	@media only screen and (min-width: 1200px) {
		min-height: 80.1rem;
		padding-top: 17.6rem;
	}
	@media only screen and (max-width: 1200px) {
		padding-top: 3.6rem;
		 min-height: 73.5rem;
	}
}

.c-hero-second__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.c-hero-second__image {
    @include image-full();
	object-position: left;
}

.c-hero-second__text-wrap {
	z-index: 5;
	position: relative;
}

.c-hero-second__title {
	color: color(white-1);
	font-weight: 700;
	padding: 1rem 1.6rem;
	background-color: color(purple-1);
	display: inline-block;
	border-radius: 4050px;
	margin-bottom: 1.6rem;
	font-size: 4.4rem;
	line-height: 4.8rem;
	@media only screen and (min-width: 768px) and (max-width: 1200px) {
		font-size: 3.2rem;
		line-height: 4rem;
	}
	@media only screen and (max-width: 768px) {
		font-size: 1.8rem;
		line-height: 2.6rem;
		padding: 0.7rem 1.9rem;
		margin-bottom: 0.6rem;
	}
}

.c-hero-second__subtitle {
	color: color(white-1);
	font-weight: 700;
	padding: 1rem 1.6rem;
	background-color: color(dark-purple-1);
	display: inline-block;
	border-radius: 4050px;
	margin-bottom: 12.7rem;
	margin-left: 12.2rem;
	font-size: 4.4rem;
	line-height: 4.8rem;
	@media only screen and (min-width: 768px) and (max-width: 1200px) {
		font-size: 3.2rem;
		line-height: 4rem;
		margin-left: 0;
		margin-bottom: 2.1rem;
	}
	@media only screen and (max-width: 768px) {
		font-size: 1.8rem;
		line-height: 2.6rem;
		margin-left: 0;
		padding: 0.7rem 1.9rem;
		margin-bottom: 2.6rem;
	}
}

.c-hero-second__description {
	color: color(white-1);
	max-width: 43.3rem;
	letter-spacing: 0.04rem;
	font-size: 2rem;
	line-height: 2.8rem;
	@media only screen and (min-width: 768px) and (max-width: 1200px) {
		font-size: 1.8rem;
		line-height: 2.4rem;
	}
	@media only screen and (max-width: 768px) {
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin-left: 2rem;
		max-width: 30rem;
	}
}

.c-hero-second__picture {
	width: 100%;
    position: absolute;
    right: 0;
    top: 0;
	width: 1037px;
	height: 100%;
	@media only screen and (min-width: 768px) and (max-width: 1200px) {
		width: 850px;
		height: 850px;
	}
	@media only screen and (max-width: 768px) {
		width: 484px;
	}
}

.c-hero-second__img {
	position: absolute;
	z-index: 4;
    right: -22.9%;
    top: -50%;
	width: 1037px;
	height: 1037px;
	object-fit: cover;
	border-radius: 100%;
	object-position: right;

	@media only screen and (min-width: 1200px) {
		top: 50%;
		transform: translateY(-50%);
	}

	@media only screen and (min-width: 768px) and (max-width: 1200px) {
		right: -26.6%;
		top: -6%;
		width: 850px;
		height: 850px;
	}

	@media only screen and (max-width: 768px) {
		top: unset;
		object-fit: cover;
		width: 484px;
		height: 484px;
        right: -44%;
        bottom: -15%;
	}
}