.hero-second {
	position: relative;
	min-height: 80.1rem;
	overflow: hidden;
	@media only screen and (min-width: 1200px) {
		padding-top: 17.6rem;
	}
	@media only screen and (max-width: 1200px) {
		padding-top: 3.6rem;
		min-height: 70.1rem;
	}
}

.c-hero-second__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.c-hero-second__image {
    @include image-full();
	object-position: left;
}

.c-hero-second__text-wrap {
	z-index: 5;
	position: relative;
}

.c-hero-second__title {
	color: color(white-1);
	font-weight: 700;
	padding: 1rem 1.6rem;
	background-color: color(purple-1);
	display: inline-block;
	border-radius: 4050px;
	margin-bottom: 1.6rem;
	font-size: 4.4rem;
	line-height: 4.8rem;
	@media only screen and (min-width: 768px) and (max-width: 1200px) {
		font-size: 3.2rem;
		line-height: 4rem;
	}
	@media only screen and (max-width: 768px) {
		font-size: 1.8rem;
		line-height: 2.6rem;
	}
}

.c-hero-second__subtitle {
	color: color(white-1);
	font-weight: 700;
	padding: 1rem 1.6rem;
	background-color: color(dark-purple-1);
	display: inline-block;
	border-radius: 4050px;
	margin-bottom: 12.7rem;
	margin-left: 12.2rem;
	font-size: 4.4rem;
	line-height: 4.8rem;
	@media only screen and (min-width: 768px) and (max-width: 1200px) {
		font-size: 3.2rem;
		line-height: 4rem;
		margin-left: 0;
		margin-bottom: 2.1rem;
	}
	@media only screen and (max-width: 768px) {
		font-size: 1.8rem;
		line-height: 2.6rem;
		margin-left: 0;
		margin-bottom: 21px;
	}
}

.c-hero-second__description {
	color: color(white-1);
	max-width: 43.3rem;
	letter-spacing: 0.04rem;
	font-size: 2rem;
	line-height: 2.8rem;
	@media only screen and (min-width: 768px) and (max-width: 1200px) {
		font-size: 1.8rem;
		line-height: 2.4rem;
	}
	@media only screen and (max-width: 768px) {
		font-size: 1.6rem;
		line-height: 2rem;
	}
}

.c-hero-second__img {
	position: absolute;
	z-index: 4;
	right: 0;
	top: 0;
	height: 100%;
	@media only screen and (min-width: 768px) and (max-width: 1200px) {
		right: -15%;
	}
	@media only screen and (max-width: 768px) {
		right: 0;
		bottom: 0;
		top: unset;
		height: auto;
		width: auto;
		object-fit: contain;
	}
}