.c-main-nav-sublist {
    @include list-reset;

    @include media(tablet) {
        display: grid;

        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

.c-main-nav-sublist__item:not(:last-child) {
    @include media(0, tablet) {
        margin-bottom: 1rem;
    }
}

.c-main-nav-sublist__link {
    @include button;

    position: relative;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 1.7rem 1rem 1.7rem 1.5rem;

    border: 1px solid color(dark-purple-1);

    @include media(0, tablet) {
        text-transform: uppercase;
    }
    @include media(tablet) {
        width: 28rem;
        padding: 1.6rem 1rem 1.6rem 1.5rem;

        background-color: color(purple-1);
    }

    &::after {
        @include transition;

        display: block;

        height: 1.6rem;
        margin: .5rem;
        padding-left: 1rem;

        content: url('../images/icon-arrow-right-white.svg');
        transform: translateX(-1rem);
    }
}

.c-main-nav-sublist__link:hover {
    border-color: color(purple-1);
    background-color: color(dark-purple-1);

    &::after {
        transform: translateX(0);
    }
}

.c-main-nav-sub__sublist {
    margin-top: 10px;
    width: 100%;
    list-style: none;
    a {
        width: 100%;
    }
    @include media(0, tablet) {
       padding-left: 50px;
    }
}
