.c-overlay {
    @include transition;

    position: fixed;
    z-index: z-index(overlay);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;

    transition-property: opacity, visibility;

    opacity: 0;
    background-color: color(dark-purple-1);

    mix-blend-mode: multiply;
}

.c-overlay.is-visible {
    visibility: visible;

    opacity: 1;
}
