.c-popup {
    position: relative;

    display: none;

    width: 100%;
    padding: 2rem 5rem 2rem 2rem;

    border: .1rem solid color(black-1);
    border-radius: .4rem;
    box-shadow: .4rem .4rem .8rem 0 color(dark-grey-1);

    @include media(mobile) {
        min-width: 62rem;
    }
}

.c-popup.is-visible {
    display: block;
}

.c-popup__container {
    max-width: 48rem;
    padding: 2rem 0;
}

.c-popup__close {
    @include button-reset;
    @include transition;

    position: absolute;
    top: 2.8rem;
    right: 2.8rem;

    font-size: 2.4rem;

    cursor: pointer;
    transition-property: color;

    color: color(dark-grey-1);
}

.c-popup__close:hover {
    color: color(purple-1);
}
