.c-product-box {
    position: relative;

    display: flex;
    flex-direction: column;

    height: 100%;
}

.c-product-box__header {
    min-height: 6rem;
    margin-bottom: 2rem;
}

.c-product-box__btn {
    @include button-reset;

    cursor: pointer;
    text-decoration: underline;
}

.c-product-box__figure {
    @include aspect-ratio(17, 14);

    margin-bottom: 1rem;

    @include media(mobile) {
        margin-bottom: 2rem;
    }
}

.c-product-box__image {
    @include image-full;
}

.c-product-box__list {
    @include list-reset;

    margin-bottom: 2rem;
}

.c-product-box__item:not(:last-child) {
    margin-bottom: 1rem;
}

.c-product-box__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 1;

    margin-top: 4rem;
}

.c-product-box__popup {
    position: absolute;
    z-index: z-index(popup);
    bottom: 0;
    left: 0;

    @include media(0, mobile) {
        width: 100%;
    }
}

.c-products-list__item:nth-child(2) .c-product-box__popup {
    @include media(mobile, tablet) {
        right: 0;
        left: initial;
    }
}

.c-products-list__item:nth-child(3) .c-product-box__popup {
    @include media(tablet) {
        right: 0;
        left: initial;
    }
}
