.c-select {
    position: relative;

    overflow: hidden;

    width: 100%;

    font-size: 1.6rem;

    @include media(mobile) {
        width: 28rem;
    }
}

.c-select--large {
    @include media(mobile) {
        width: 32rem;
    }
}

.c-select:focus {
    outline: 0;
}

.c-select.focus-visible {
    outline: .1rem solid color(purple-1);
}

.c-select.is-open {
    overflow: visible;
}

.c-select.is-disabled .c-select__inner,
.c-select.is-disabled .c-select__input {
    cursor: not-allowed;
    -webkit-user-select: none;
    user-select: none;

    background-color: color(dark-gray-1);
}

.c-select.is-disabled .c-select__item {
    cursor: not-allowed;
}

.c-select [hidden] {
    display: none !important;
}

.c-select[data-type*='select-one'] {
    cursor: pointer;
}

.c-select__list--dropdown .c-select__placeholder,
.c-select[data-type*='select-one']
  .c-select__item[data-value='']
  .c-select__button {
    display: none;
}

.c-select__list--single .c-select__item[data-value='']::after {
    @include transition;

    position: absolute;
    top: 50%;
    right: 1.4rem;

    width: 3.2rem;
    height: 3.2rem;

    content: '';
    transition-property: transform;
    transform: translateY(-50%);
    pointer-events: none;

    background: url('../images/icon-chevron-down-dark-purple.svg') center / cover
    no-repeat;
}

.c-select[data-type*='select-one'].is-open::after {
    display: none;
}

.c-select__inner {
    position: relative;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    z-index: 2;

    width: 100%;
    height: 6rem;
    padding-right: 1rem;
    padding-left: 1.5rem;

    font-size: 2rem;

    background-color: color(light-grey-2);
}

.c-select__list {
    margin: 0;
    padding-left: 0;

    list-style: none;
}

.c-select__list--single {
    display: inline-block;

    width: 100%;
}

.c-select__list--single .c-select__item {
    width: 100%;
}

.c-select__list--dropdown,
.c-select__list[aria-expanded] {
    position: absolute;
    z-index: z-index(base);
    top: 100%;

    visibility: hidden;

    width: 100%;
    margin-top: -.1rem;

    word-break: break-all;

    opacity: 0;
    background-color: color(light-grey-2);

    will-change: visibility, opacity;
}

.is-active.c-select__list--dropdown,
.is-active.c-select__list[aria-expanded] {
    visibility: visible;

    opacity: 1;
}

.is-active.c-select__list--dropdown::before {
    @include filler();

    top: auto;
    bottom: 0;

    height: calc(100% + 5.9rem);

    content: '';

    box-shadow: .4rem .4rem 1rem rgba(color(black-1), .15);
}

.is-flipped .c-select__list--dropdown::before {
    bottom: 0;
}

.is-flipped .c-select__list--dropdown,
.is-flipped .c-select__list[aria-expanded] {
    top: auto;
    bottom: initial;

    margin-top: 0;
    margin-bottom: -.1rem;
}

.c-select__list--dropdown .c-select__list,
.c-select__list[aria-expanded] .c-select__list {
    position: relative;

    overflow: auto;

    max-height: 30rem;

    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}

.c-select__list--dropdown .c-select__item,
.c-select__list[aria-expanded] .c-select__item {
    position: relative;

    padding: 1.5rem 2rem;

    font-size: font-size(size-20);
}


.c-select__button {
    @include button-reset();

    position: absolute;
    top: 50%;
    right: 1.4rem;

    width: 1.9rem;
    height: 1.9rem;

    font-size: 0;

    cursor: pointer;
    transform: translateY(-50%);

    opacity: .8;
    background: url('../images/icon-close-grey.svg') center / cover no-repeat;
    &:hover,
    &:focus {
        opacity: 1;
    }
}
.c-select.is-open .c-select__button {
    opacity: .4;
}

.c-select__item[data-value=''] .c-select__button {
    display: none;
}

.c-select.is-flipped .c-select__list--dropdown .c-select__item {
    border-top: .5rem solid color(white-1);
}

.c-select:not(.is-flipped) .c-select__list--dropdown .c-select__item {
    border-top: .5rem solid color(white-1);
}

.c-select__list--dropdown .c-select__item--selectable.is-highlighted,
.c-select__list[aria-expanded] .c-select__item--selectable.is-highlighted,
.c-select__list[aria-expanded] .c-select__item--selectable.is-selected {
    color: color(white-1);
    background-color: color(dark-grey-1);
}

.c-select__item {
    cursor: default;
}

.c-select__item--selectable {
    cursor: pointer;
}

.c-select__item--disabled {
    cursor: not-allowed;
    -webkit-user-select: none;
    user-select: none;

    opacity: .5;
}

.c-select__input {
    &:focus {
        outline: 0;
    }
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }
    &::-ms-clear,
    &::-ms-reveal {
        display: none;

        width: 0;
        height: 0;
    }
}

.c-select[data-type*='select-one'] .c-select__input {
    display: block;

    width: 100%;
    padding: 1.4rem 2rem;

    border: none;
}

.c-select.c-select--alt {
    width: 100%;

    @include media(mobile) {
        width: calc(50% - 2rem);
    }

    &.is-open {
        border-bottom: 0;
    }

    &.is-flipped {
        border-top: 0;
    }

    .c-select__inner {
        border: .1rem solid color(dark-grey-1);
        border-radius: border-radius(input);
        background-color: color(white-1) ;
    }

    .c-select__list--dropdown {
        background-color: color(white-1);
    }

    .c-select__list--dropdown::before {
        display: none;

        border: .1rem solid color(dark-grey-1);
        box-shadow: none;
    }

    .c-select__placeholder {
        color: color(light-grey-1);
    }

    .c-select__list[aria-expanded] .c-select__item--selectable.is-selected {
        color: color(black-1);
        background-color: color(dark-grey-1) !important;
    }

    .c-select__list--dropdown .c-select__item--selectable.is-highlighted,
    .c-select__list[aria-expanded] .c-select__item--selectable.is-highlighted {
        color: color(black-1);
        background-color: rgba(color(grey-1), .3);
    }

    &.is-open .c-select__inner {
        border-radius: border-radius(input) border-radius(input) 0 0;
    }

    &.is-flipped .c-select__list--dropdown {
        border-radius: border-radius(input) border-radius(input) 0 0;
    }
    .c-select__list--dropdown {
        border: .1rem solid color(dark-grey-1);
        border-radius: 0 0 border-radius(input) border-radius(input);
    }

    .c-select__list--dropdown .c-select__item {
        border: 0;
    }
}

.c-form__fields-group--location-select .c-select {
    width: 100%;
}

.c-select.c-select--alt .c-select__inner.is-not-valid {
    border-color: color(red-1);
}
