.subpage-hero {
    position: relative;
    overflow: hidden;
    @include media(tablet) {
        background: url('../images/decor-subpage-banner-bg.png') center center / cover no-repeat;
        padding: 103px 0 77px;
        min-height: 330px;
    }
    @include media(0, tablet) {
        background: url('../images/decor-subpage-banner-bg-mobile.png') center center / cover no-repeat;
        padding: 30px 13px 458px;
        min-height: 600px;
    }
}

.subpage-hero__image-holder {
    position: absolute;
    @include media(tablet) {
        width: 650px;
        height: 650px;
        top: -113px;
        right: -135px;
    }
    @include media(mobile, tablet) {
        width: 567px;
        height: 567px;
        bottom: -113px;
        right: -106px;
    }
    @include media(0, mobile) {
        width: 484px;
        height: 484px;
        bottom: -89px;
        right: -213px;
    }
}

.subpage-hero__image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subpage-hero__content {
    position: relative;
    z-index: 1;
    color: color(white-1);
    @include media(desktop-small) {
        width: 65%;
    }
    @include media(tablet, desktop-small) {
        width: 50%;
    }
    @include media(0, tablet) {
        width: 100%;
    }
}

.subpage-hero__title {
    @include media(tablet) {
        margin-bottom: 24px;
    }
    @include media(0, tablet) {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 12px;
    }
}

.subpage-hero__text {
    line-height: 28px;
    font-weight: 600;
}