.l-table-block {
	margin-bottom: 10.5rem;
	@include media(0, 992px) {
		margin-bottom: 6rem;
	}
}

.c-table-block__wrap {
	@include media(0, mobile) {
		max-width: 32rem;
		margin: 0 auto;
	}
}

.c-table-block__container {
	@include media(0, 992px) {
		border-top: 1px solid color(black-1);
	}
}

.c-table-block__row {
	display: grid;
    grid-template-columns: 0.27fr 0.6fr 0.27fr;
	column-gap: 4.8rem;
	padding: 1.6rem 0;
	border-bottom: 1px solid color(black-1);
	@include media(mobile,desktop-small) {
		column-gap: 25px;
		grid-template-columns: 0.3fr 0.4fr 0.27fr;
	}

	@include media(0, 992px) {
		column-gap: 25px;
		grid-template-columns: 1fr;
		padding: 22px 0;
	}
}

.c-table-block__row--large {
  grid-template-columns: 0.27fr 0.6fr 0.14fr 0.13fr;

  @include media(mobile,desktop-small) {
		grid-template-columns: 0.3fr 0.4fr 0.15fr 0.15fr;
	}
}

.c-table-block__row-headings {
	display: grid;
	grid-template-columns: 0.27fr 0.6fr 0.27fr;
	column-gap: 4rem;
	padding: 1.6rem 0;
	border-bottom: 1px solid color(black-1);
	@include media(mobile,desktop-small) {
		column-gap: 2.5rem;
		grid-template-columns: 0.3fr 0.4fr 0.27fr;
	}
	@include media(0, 992px) {
		column-gap: 2.5rem;
		grid-template-columns: 1fr;
		display: none;
	}
}

.c-table-block__row-headings--large {
  grid-template-columns: 0.27fr 0.6fr 0.14fr 0.13fr;

  @include media(mobile,desktop-small) {
		grid-template-columns: 0.3fr 0.4fr 0.15fr 0.15fr;
	}
}

.c-table-block__heading {
	font-size: 2.4rem;
	line-height: 3rem;
	color: color(purple-1);
	font-weight: 600;
}

.ctable-block__text {
	font-size: 2rem;
	line-height: 3rem;
	color: color(color(black-1));
	font-weight: 400;
	@include media(0, 992px) {
		display: block;
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	@include media(0, mobile) {
		font-size: 1.6rem;
		line-height: 2rem;
	}
}

.c-table-block__title {
	color: color(purple-1);
	margin-bottom: 2.2rem;
}

.c-table-block__description {
	margin-bottom: 12.5rem;
	max-width: 78rem;
	@include media(0, mobile) {
		margin-bottom: 5.6rem;
	}
}