.c-team-member {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 100%;
    padding: 2rem;

    background: color(white-1) url('../images/decor-light.png') center bottom / cover no-repeat;
}

.c-team-member__figure {
    width: 100%;
    margin-bottom: 2rem;
}

.c-team-member__image {
    width: 100%;
    height: 25.5rem;

    object-fit: cover;

    @include media(0, mobile) {
        max-width: 34rem;
    }
}

.c-team-member__details {
    @include media(mobile) {
        margin-bottom: 6rem;
    }
}

.c-team-member__job {
    margin-bottom: 2rem;
}

.c-team-member__action {
    margin-top: auto;
}

.c-team-member__image--fixed-width {
    @include media(0, mobile) {
        max-width: 28rem;
        height: 21rem;
    }
    @include media(mobile) {
        max-width: 34rem;
    }
}

.c-team-member--extended {
    padding-bottom: 4rem;
}

.c-team-member--extended .c-team-member__details {
    @include media(mobile) {
        margin-bottom: 0;
    }
}
