.c-teasers-list {
    --columns: 2;
    @include list-reset;

    @include media(mobile) {
        display: grid;
        gap: 2rem;

        grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    }
    @include media(tablet) {
        --columns: 3;
    }
}

.c-teasers-list__item:not(:last-child) {
    @include media(0, mobile) {
        margin-bottom: 2rem;
    }
}
