.wpcf7-radio [type='radio'] {
    position: absolute;
    left: -999rem;
}

.c-form__step .wpcf7-radio {
    display: grid;

    @include media(mobile) {
        gap: 2rem 4rem;

        grid-template-columns: repeat(2, auto);
    }
    @include media(tablet) {
        grid-template-columns: repeat(3, auto);
    }

    row-gap: 2.4rem;
}

.wpcf7-radio .wpcf7-list-item {
    margin: 0;
}

.wpcf7-radio .wpcf7-list-item-label {
    --size: 4rem;

    @include typo-size-18;

    position: relative;

    display: inline-flex;
    align-items: center;

    height: var(--size);
    padding-left: 5rem;

    cursor: pointer;

    @include media(mobile) {
        @include typo-size-20;
    }
}

.wpcf7-radio .wpcf7-list-item-label::before,
.wpcf7-radio .wpcf7-list-item-label::after {
    position: absolute;

    content: '';

    border-radius: 50%;
}

.wpcf7-radio .wpcf7-list-item-label::before {
    top: 0;
    left: 0;

    width: var(--size);
    height: var(--size);

    border: .1rem solid color(dark-grey-1);
}

.wpcf7-radio .wpcf7-list-item-label::after {
    @include transition;

    top: .5rem;
    left: .5rem;

    width: calc(var(--size) - 1rem);
    height: calc(var(--size) - 1rem);

    transition-property: opacity, transform;
    transform-origin: center;

    background-color: color(purple-1);
}

.wpcf7-radio [type='radio']:not(:checked) + .wpcf7-list-item-label::after {
    transform: scale(0);

    opacity: 0;
}

.wpcf7-radio [type='radio']:checked + .wpcf7-list-item-label::after {
    transform: scale(1);

    opacity: 1;
}

.wpcf7-form-control-wrap {
    display: inline-block;

    width: 100%;
}

.wpcf7-textarea,
input.wpcf7-form-control {
    width: 100%;
    padding: 1.4rem;

    color: color(light-grey-1);
    border: .1rem solid color(dark-grey-1);
    border-radius: border-radius(input);

    @include media(mobile) {
        @include typo-size-20;
    }

    &:focus {
        outline: none;
    }
}

.wpcf7-textarea {
    height: 34rem;

    resize: none;

    @include media(mobile) {
        height: 24rem;
    }
}

input.wpcf7-not-valid {
    border-color: color(red-1);
}

.wpcf7-not-valid-tip {
    position: absolute;

    margin-top: .15rem;

    font-size: font-size(main);
}


.wpcf7 form .wpcf7-response-output {
    @include typo-size-18;

    margin: 0 0 2rem;

    border-radius: border-radius(input);
}

.wpcf7 form.sent .wpcf7-response-output {
    background-color: rgba(color(green-1), .05);
}

.wpcf7 form.invalid .wpcf7-response-output {
    background-color: rgba(color(yellow-1), .05);
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
    background-color: rgba(color(red-1), .05);
}

.wpcf7-spinner {
    display: none;
}
