// Vendor
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/swiper/swiper-bundle.min.css';

// Base
@import
    'base/variables',
    'base/functions',
    'base/media-config',
    'base/fonts',
    'base/mixins',
    'base/typography',
    'base/ui',
    'base/utilities',
    'base/offsets',
    'base/helpers',
    'base/animations';

// Layout
@import
    'layout/inner',
    'layout/body',
    'layout/page',
    'layout/main',
    'layout/header',
    'layout/hero',
    'layout/image-text',
    'layout/search-results',
    'layout/section',
    'layout/footer',
    'layout/cookies',
    'layout/hero-text',
    'layout/hero-news',
    'layout/breadcrumbs';

// Components
@import
    'components/cms-content',
    'components/cms-article',
    'components/header',
    'components/main-nav-list',
    'components/main-nav-box',
    'components/main-nav-sublist',
    'components/logo',
    'components/search-bar',
    'components/main-nav-submenu',
    'components/burger',
    'components/btn',
    'components/team-members',
    'components/team-members-list',
    'components/team-member',
    'components/modal',
    'components/overlay',
    'components/video',
    'components/video-box',
    'components/footer-nav-list',
    'components/footer',
    'components/social-list',
    'components/columns',
    'components/numbers',
    'components/copyright',
    'components/cta-text',
    'components/search-result-box',
    'components/search-results-list',
    'components/search-results',
    'components/pagination',
    'components/latest-insights',
    'components/latest-insight-box',
    'components/tags',
    'components/accordion-list',
    'components/accordion',
    'components/news',
    'components/news-list',
    'components/news-box',
    'components/slider-pagination',
    'components/cookies',
    'components/breadcrumbs',
    'components/select',
    'components/locations-list',
    'components/location-box',
    'components/products-category',
    'components/products-list',
    'components/product-box',
    'components/back-top',
    'components/filters',
    'components/popup',
    'components/text',
    'components/features',
    'components/features-list',
    'components/feature-box',
    'components/pill',
    'components/tabs-nav-list',
    'components/tabs',
    'components/timeline-news',
    'components/news-archives',
    'components/news-archive-teaser',
    'components/hero-text',
    'components/cms-hero',
    'components/insights-list',
    'components/insights-listing',
    'components/banners-slider',
    'components/banner',
    'components/teasers-list',
    'components/hero-news',
    'components/link',
    'components/article',
    'components/article-sidebar',
    'components/related-list',
    'components/form',
    'components/cms-popup',
    'components/timeline',
    'components/timeline-list',
    'components/timeline-box',
    'components/table',
    'components/close-button',
    'components/gate-modal';

// Overrides
@import 'overrides/contact-form'
