@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

@mixin color-modifiers {
    @each $name, $hex in $colors {
        &--#{$name} {
            color: $hex;
        }
    }
}

@mixin background-modifiers {
    @each $name, $hex in $colors {
        &--#{$name} {
            background-color: $hex;
        }
    }
}

@mixin font-weight-modifiers {
    @each $name, $value in $font-weights {
        &--#{$name} {
            font-weight: $value;
        }
    }
}

@mixin transition($duration: 250ms, $timing: ease-in-out) {
    transition-timing-function: $timing;
    transition-duration: $duration;
}

@mixin ellipsis() {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin list-reset() {
    margin: 0;
    padding: 0;

    list-style: none;
}

@mixin button-reset() {
    padding: 0;

    border: none;
    outline: none;
    background: none;
}

@mixin line-clamp($max-lines: 3) {
    display: -webkit-box;
    overflow: hidden;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: $max-lines;
}

@mixin image-full($object-fit: cover) {
    width: 100%;
    height: 100%;

    object-fit: $object-fit;
}

@mixin filler() {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

@mixin aspect-ratio($width, $height) {
    position: relative;

    &::before {
        display: block;

        width: 100%;
        padding-top: ($height / $width) * 100%;

        content: '';
    }

    > * {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

@mixin button() {
    @include typo-size-14();
    @include button-reset();
    @include transition;

    display: inline-flex;
    align-items: center;

    padding: 2.1rem 2rem;

    cursor: pointer;
    transition-property: background-color;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

/*
==========================================================================
    Mixins - typography - body
========================================================================== */
// FS/LH: 12px/16px
@mixin typo-size-12 () {
    font-size: font-size(size-12);
    line-height: 1.33;
}

// FS/LH: 14px/18px
@mixin typo-size-14 () {
    font-size: font-size(size-14);
    line-height: 1.29;
}

// FS/LH: 16px/20px
@mixin typo-size-16 () {
    font-size: font-size(size-16);
    line-height: 1.25;
}

// FS/LH: 18px/26px
@mixin typo-size-18 () {
    font-size: font-size(size-18);
    line-height: 1.45;
}

// FS/LH: 20px/30px
@mixin typo-size-20 () {
    font-size: font-size(size-20);
    line-height: 1.5;
}

// FS/LH: 22px/28px
@mixin typo-size-22 () {
    font-size: font-size(size-22);
    line-height: 1.27;
}

// FS/LH: 24px/30px
@mixin typo-size-24 () {
    font-size: font-size(size-24);
    line-height: 1.25;
}

// FS/LH: 28px/36px
@mixin typo-size-28 () {
    font-size: font-size(size-28);
    line-height: 1.29;
}

// FS/LH: 32px/44px
@mixin typo-size-32 () {
    font-size: font-size(size-32);
    line-height: 1.375;
}

// FS/LH: 36px/40px
@mixin typo-size-36 () {
    font-size: font-size(size-36);
    line-height: 1.11;
}

// FS/LH: 40px/44px
@mixin typo-size-40 () {
    font-size: font-size(size-40);
    line-height: 1.1;
}

// FS/LH: 44px/48px
@mixin typo-size-44 () {
    font-size: font-size(size-44);
    line-height: 1.1;
}

// FS/LH: 52px/60px
@mixin typo-size-52 () {
    font-size: font-size(size-52);
    line-height: 1.15;
}

// FS/LH: 72px/80px
@mixin typo-size-72 () {
    font-size: font-size(size-72);
    line-height: 1.11;
}
